# --- Linters ---
ruff

# --- Autoformat ---
black
black[jupyter]

# --- Imports order ---
isort

# --- Type checking opcional ---
mypy

# --- Dead code detection ---
vulture

# --- Testing ---
pytest
